---
import Contact from "./Contact.astro";
---

<section
  id="about" class="container mx-auto md:max-w-2xl lg:max-w-4xl mb-20">
  <h2 class="font-bold text-center text-3xl mb-10">Sobre mi</h2>
  <div class="md:flex gap-10">
    
    <div class="flex justify-center items-center mb-10 md:mb-0">
      <div class="inline-block p-2 border text-gray-400 dark:border-gray-800 rounded-md mx-auto">
        <img
          src="/daan_about.webp"
          class="w-64 rounded-md mx-auto"
          alt="Foto de Daan"
        />
      </div>
    </div>
    <div class="text-start md:max-w-sm lg:max-w-xl text-slate-800 dark:text-slate-300">
      <p>
        Originario de Poza Rica, Veracruz 游쓇릖, quien descubri칩 su vocaci칩n
        durante sus a침os universitarios, aprendiendo a hacer programas con C#
        para automatizar soluciones a problemas matem치ticos e integrando
        software con mec치nica para resolver retos de rob칩tica. Al desarrollar mi
        inter칠s por la rama del software hice clic con el desarrollo web.
      </p>
      <p>
        Mi objetivo profesional a 5 a침os es poder tener la capacidad y
        experiencia suficientes para abordar, dirigir y desarrollar proyectos
        para grandes multinacionales y Big-Tech.
      </p>
      <p>
        Entre otras cosas me apasiona la m칰sica electr칩nica y el DJing, el
        dise침o, la serigraf칤a y descubrir lugares nuevos por todo el mundo.
      </p>
    </div>
  </div>
</section>
