---
import LinkedIn from "../icons/LinkedIn.astro"
import WhatsApp from "../icons/WhatsApp.astro"
import Gmail from "../icons/Gmail.astro"
---

<section id="contact" class="mx-auto flex flex-col items-center space-y-10">
    
</section>