---
const { id, gallery, rounded } = Astro.props;
---

<div class=`myGallerySwiper${id} swiper w-full`>
    <div class="swiper-wrapper w-full">
        {gallery.map((image:any) => (
            <div class=`swiper-slide ${rounded ? 'rounded-lg' : ''}`>
                <img src=`${image.dataSrc}` alt=`${image.alt}` />
            </div>
        ))}
    </div>
</div>

